body {
    background-color: rgb(252, 1, 1);
}
h1  {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
p   {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}